.container {
    margin: 0;
    padding: 0;
    display: block;
    position: relative;
    overflow: visible;
}

.content-container {
    margin: 0;
    padding: 0;
}

.container .navigation-button {
    padding: .5rem 1rem;
}
