.container {
    position: sticky;
    top: 0;
    display: flex;
    flex-direction: row;
    margin: 0;
    padding: 0;
    box-shadow: 0 0 4px rgba(0, 0, 0, .7);
    background-color: #006747;
    height: 4rem;
    width: 100%;
    align-items: center;
    justify-content: space-between;
    z-index: 200001;
}

.header-app-info {
    display: flex;
    flex-direction: row;
    height: 100%;
    align-items: center;
    justify-content: start;
}

.header-usf-logo {
    padding: .5rem;
    box-sizing: border-box;
    height: 4rem;
}

.header-app-name {
    margin: 0;
    padding: .5rem 0;
    line-height: 1;
    font-size: 2.5rem;
    font-weight: 600;
    color: #E1C158;
}

.header-navigation-container {
    display: flex;
    flex-direction: row;
    margin: 0;
    padding: 0;
    height: 100%;
    align-items: center;
    justify-content: end;
    line-height: 1;
}