.welcome {
  margin: 0 0 1.5rem 0;
  padding: 0;
  background: transparent;
  border: none;
  box-shadow: none;
  width: 100%;
}

.welcome-heading {
  margin: 0 0 0.5rem 0;
  font-size: 2.75rem;
  font-weight: 800;
  line-height: 1.2;
  color: #0d8e7e;
}

.welcome-subheading {
  margin: 0;
  font-size: 1.4rem;
  font-weight: 700;
  line-height: 1.5;
  color: #0f6e5a;
  opacity: 0.85;
}