#root {
  margin: 0;
  padding: 0;
  height: 100vh;
  width: 100vw;
  text-align: center;
}

.app-container {
  margin: 0;
  padding: 0;
  background-color: white;
  box-sizing: border-box;
  width: 100%;
  height: 100%;
}