.container {
    position: sticky;
    top: 0;
    margin: 0;
    padding: 0;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.12);
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    background: linear-gradient(90deg, #0d6e6e 0%, #0f8070 100%);
    height: 4rem;
    width: 100%;
    z-index: 200001;
}

.header-app-info {
    display: flex;
    flex-direction: row;
    height: 100%;
    align-items: center;
    justify-content: start;
}

.header-usf-logo {
    padding: .5rem;
    box-sizing: border-box;
    height: 4rem;
}

.header-app-name {
    margin: 0;
    padding: .5rem 0;
    line-height: 1;
    font-size: 2.5rem;
    font-weight: 600;
    color: #ffd166;
}

.header-navigation-container {
    display: flex;
    flex-direction: row;
    margin: 0 1rem 0 0;
    padding: 0;
    height: 100%;
    align-items: center;
    justify-content: end;
    line-height: 1;
}