.transaction-history {
  flex: 1;
  height: 100%;
}

.transaction-history-heading {
  margin: 0 0 1rem 0;
  font-size: 1.5rem;
  font-weight: 700;
  line-height: 1;
  text-align: left;
  color: #0d8e7e;
}

.transaction-list {
  display: flex;
  flex-direction: column;
  flex: 1;
  gap: 0.75rem;
  font-size: 1rem;
  color: #444;
} 