.button-container {
    padding: 0 .5rem;
    display: flex;
    flex-direction: row;
    align-items: center;
    height: 100%;
    line-height: 1;
    color: white;
    font-size: 1rem;
    cursor: pointer;
}