.feature-container {
    margin: 0;
    padding: 4rem 2rem;
    display: flex;
    flex-direction: column;
    background-color: #f8f9fa;
}

.feature-headline {
    margin: 0 0 3rem 0;
    padding: 0;
    font-size: 3rem;
    font-weight: 800;
    color: #184e77;
    text-align: center;
}

.feature-card-container {
    margin: 0 auto;
    padding: 0;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    gap: 2rem;
    width: 100%;
}